session.*
/home/.emacs.d/url
/home/.emacs.d/tramp
/home/.emacs.d/projectile.cache
/home/.emacs.d/abbrev_defs
/home/.emacs.d/eshell
/home/.emacs.d/projectile-bookmarks.eld
/home/.emacs.d/.cask
/home/.emacs.d/ac-comphist.dat
/home/.emacs.d/image-dired/
/home/.emacs.d/srecode-map.el
/home/.emacs.d/var/
/home/.emacs.d/.mc-lists.el
/home/.emacs.d/prog/workbench.xmi
/home/.emacs.d/general/custom.el
/home/.emacs.d/smex-items
/home/.emacs.d/jabber-history/
/home/.emacs.d/ido.last
/home/.emacs.d/elpa/
/home/.cask/
/home/.emacs.d/auto-save-list/
/home/.emacs.d/.mc-lists.elc
/home/.emacs.d/places
/home/.emacs.d/bookmarks
/home/.emacs.d/ensime
/home/.emacs.d/network-security.data
